@font-face{
    font-family: Custom font ;
    src: url(Fonts/NetflixSans-Light.otf);
}
@font-face{
    font-family: Custom font b ;
    src: url(Fonts/NetflixSans-Bold.otf);
}
@font-face{
    font-family: Custom font r ;
    src: url(Fonts/NetflixSans-Regular.otf);
}
@font-face{
    font-family: Custom font m ;
    src: url(Fonts/NetflixSans-Medium.otf);
}

body{
    background-color: rgb(14, 13, 13);
    font-family: Custom Font;
    color: white;
    overflow-x: hidden;
}
.sec1{
    background-image: url(Images/sexedu.jpg);
    height: 90vh;
    background-size: cover;
    margin-top: -13px;
    margin-left: -12px;
    margin-right: -30px;
}
.bottombtn{
    margin-top: 130px;
    box-shadow: 0px 0px 50px 80px black;
    width: 1540px;
    background-color: rgb(0, 0, 0);
    border: 0px;
}
.navbar{
    position:fixed; 
    background-color: #000000dd;
    height: 70px;
    
}

.navbar a{
   text-decoration: none;
   color: white;
   display: block;
   transition: 0.7s;
}
.navbar li{
    float: left;
    margin: 10px;
}
ul{
    list-style-type: none;
    font-family: Custom Font;
    font-size: 13px;
    margin-top: 20px;
}
.logo{
    width: 100px;
    margin-top: -20px;
}
.logo1{
    width: 100px;
   
}
.navbar a:hover{
    color: rgb(176, 175, 175);
}
.playbtn{
    border: 0px;
    background-color: rgba(255, 255, 255, 0.999);
    border-radius: 5px;
    width: 120px;
    font-size: 20px;
    font-family: Custom Font m ;
    padding: 10px;
    margin-left: -600px;
    margin-top: 500px;
}
.playbtn:hover{
    background-color: rgba(255, 255, 255, 0.826);
    cursor: pointer;
}
.infobtn{
    border: 0px;
    padding: 10px;
    font-size: 20px;
    font-family: Custom Font m ;
    border-radius: 5px;
    width: 150px;
    background-color: rgba(105, 105, 105, 0.715);
    color: white;
    margin-left: 10px;
}
.infobtn:hover{
    background-color: rgba(105, 105, 105, 0.573);
    cursor: pointer;
}
.sexedulogo{
    
    width: 500px;
    padding: 100px;
    margin-left: -50px;
}
.main-1{
    
    background-color: #000000;
    margin-top: 60px;
    font-family:"Comfortaa", sans-serif; 
}
.inspiration{
    font-size: 25px;
    font-family:Custom Font r ;
    font-weight: lighter;
    margin-left: 30px;
    text-align: left;
    margin-top: -50px;
   
}

.wrapper {
    max-width: 1500px;
    width: 100%;
    position:static;
    margin-left: 20px;
    margin-top: -50px;
    
  }
  .wrapper i {
   
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child{
    left: -22px;
  }
  .wrapper i:last-child{
    right: -22px;
  }
 
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 9px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 20px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .wrapper .carousel1{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4) - 4px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 0px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    margin-left: -20px;
  }

  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel1::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel1.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel1.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel1.dragging .card1 {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel1 :where(.card1, .img1) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: transparent;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
    
  }
  .carousel1 .card1 {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: transparent;
    
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
    
  }
  .carousel .card .img {
    margin: 0px;
    height: 250px;
    width: 250px;
    
  }
  
  .card .img img {
    height: 250px;
    margin: 10px;
    width: 250px;
    border-radius: 0%;
    object-fit: cover;
    
  }
  .carousel1 .card1 .img1 {
    border-radius: 10px;
    margin: 0px;
    height: 150px;
    width: 350px;
    
  }
  .card1 .img1 img {
    height: 210px;
    margin: 10px;
    width: 350px;
    border-radius: 10px;
    object-fit: cover;
    
  }
  
  
  @media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  @media screen and (max-width: 900px) {
    .wrapper .carousel1 {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  @media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
  }
  @media screen and (max-width: 600px) {
    .wrapper .carousel1 {
      grid-auto-columns: 100%;
    }
  }
  .hi-slide{
    position: relative;
    width:754px;
    height: 292px;
    margin: 115px auto 0;
  }
  .hi-slide .hi-next,
  .hi-slide .hi-prev{
      position: absolute;
      top: 50%;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      line-height: 40px;
      text-align: center;
      cursor: pointer;
      background-color: rgb(5, 5, 5);
      color: rgb(255, 255, 255);
      transition: all 0.7s;
      font-size: 30px;
      font-weight: bold;
  }
  .hi-slide .hi-next:hover,
  .hi-slide .hi-prev:hover{
    opacity: 1;
    background-color: rgb(0, 0, 0);
  }

  .hi-slide .hi-prev{
    left: -70px;
  }
  .hi-slide .hi-prev::before{
    content: '<';
  }
  .hi-slide .hi-next{
    right: -70px;
  }
  .hi-slide .hi-next::before{
    content: '>';
  }
  .hi-slide >  ul{
    list-style: none;
    position: relative;
    width: 754px;
    height: 292px;
    margin: 0;
    padding: 0;
  }
  .hi-slide .carousel1 >  ul{
    list-style: none;
    position: relative;
    width: 754px;
    height: 292px;
    margin: 0;
    padding: 0;
  }
  .hi-slide > ul >li{
    overflow: hidden;
    position: absolute;
    z-index: 0;
    left: 377px;
    top: 147px;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 3px solid black;
    background-color: #706969;
    cursor: pointer;
  }
  .hi-slide .carousel1 > ul >li{
    overflow: hidden;
    position: absolute;
    z-index: 0;
    left: 377px;
    top: 147px;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 3px solid black;
    background-color: #706969;
    cursor: pointer;
  }
  .hi-slide > ul > li > img{
    width: 100%;
    height: 100%;
    background-position: center;
  }
  .hi-slide .carousel1 > ul > li > img{
    width: 100%;
    height: 100%;
    background-position: center;
  }
  .main-2{
    margin-top: -30px;
  }
  .carousel1 .img1 img{
    margin-top: -30px;
  }
  footer{
    font-family:"Comfortaa", sans-serif; 
    padding-left: 200px;
    padding-right: 100px;
    margin-right: -30px;
    padding-top: 40px;
    padding-bottom: 60px;
    background-color: #101010;
  }
  .box1{
    margin-left: 15px;
  }
  
  .footimg{
    width: 150px;
  }
  .mainbox{

    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .box3 img{
    width: 30px;
    margin-left: 10px;  
  }
  .twit img{
    width: 120px;
  }
  .foot a{
    color: rgb(115, 113, 113);
    font-size: 13px;
    text-decoration: none;
  }
  .foot a:hover{
    text-decoration:underline;
  }
  .copyrights{
    font-size: 10px;
    margin-left: 15px;
    color: rgb(115, 113, 113);
  }
input{
  font-family: Custom font ;
  height: 25px;
  margin-left: 500px;
  margin-top:-10px;
  background-color: #2c2b2b9a;
  border-radius: 5px;
  text-align: center;
  border: none;
  color: rgb(159, 156, 156);
}

.dropdown button{
  background-color: transparent;
  margin-left: -20px;
  border: none;
  cursor: pointer;
  margin-top: -3px;
  
}

.dropdown a {
  font-family: Custom font ;
  font-size: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
  color: white;
  text-decoration: none;
  padding: 15px 15px ;
  
  
}
.dropdown .content {
  display: none;
  position: absolute;
  background-color:rgba(0, 0, 0, 0.768);
  width: 300px;
  height:300px;
  box-shadow: 2px 2px 5px black;
  margin-left: -280px;
  overflow-y: scroll;
  border-top:2px solid white ;
}
.dropdown:hover .content {
  display: block;
}
.dropdown:hover button {
  color: white;
}
.dropdown a:hover{
  background-color: rgba(0, 0, 0, 0.859);
  color: white;
}
.container{
  padding: 10px;
  height:15px;
  width:5px;
  margin-top: -60px;
  margin-left: 1220px;
}
button img{
  width: 30px;
}
.prof{
  width: 30px;
  margin-left: 80px;
  margin-top: -7px;
}
